*.pyc
*.env
*.sqlite
*.db
*pb2*
**/data/*
# exception to the rule
!**/data/.gitkeep


# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

aipcloud/
node_modules/
__pycache__/

# Remove credential file
aipcloud-987fc3f00757.json
